/.vscode/
node_modules
*.log

/.idea/compiler.xml
/.idea/encodings.xml
/.idea/workspace.xml
/.idea/copyright/
/.idea/deployment.xml
/.idea/shelf/

.DS_Store

out/
dist/
build/
/test/test-report.xml

/packages/dmg-builder/vendor/
/packages/electron-builder/README.md

/scripts/jsdoc/out/
/scripts/renderer/out/

electron-builder-*.d.ts

/site/

tsconfig.tsbuildinfo

.pnpm-store/

# Prevent NPM package-lock files being committed as this project is not using NPM
package-lock.json
todo
src/data/Hove.xlsx
*.xlsx
.env
.env
.env
