/* Styling file, ./global.css - super-lamp */
/* Liam Doyle/limegorilla 2022 */

/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Black.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-Black.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Bold.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-Bold.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("/fonts/metropolis/Metropolis-ExtraBold.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-ExtraBold.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-ExtraBoldItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("/fonts/metropolis/Metropolis-ExtraLight.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-ExtraLight.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-RegularItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-RegularItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-LightItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-LightItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Medium.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-Medium.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Thin.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-Thin.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-ThinItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-ThinItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Regular.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-Regular.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis Extra";
  src: url("/fonts/metropolis/Metropolis-ExtraLightItalic.woff2")
      format("woff2"),
    url("/fonts/metropolis/Metropolis-ExtraLightItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-BlackItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-BlackItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis Semi";
  src: url("/fonts/metropolis/Metropolis-SemiBold.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-SemiBold.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis Semi";
  src: url("/fonts/metropolis/Metropolis-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-SemiBoldItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Light.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-Light.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-BoldItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-BoldItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-MediumItalic.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-MediumItalic.woff") format("woff"),
    url("/fonts/metropolis/Metropolis-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Base config */
@layer base {
  html {
    @apply bg-white dark:bg-black tracking-tighter;
  }
}

@layer components {
  body {
    @apply text-black dark:text-white bg-white dark:bg-slate-800;
  }
}
